@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "react-slideshow-image/dist/styles.css"; /* Slideshow img */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #EEE;
}
a{
    text-decoration: none;
}
a:visited{
    color:#000;
}
.container{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}